@{
    ViewData["Title"] = "Privacy - Catholic Intentions Facebook App";
}

@section head {
    <meta property="og:title" content="Facebook App Privacy Page" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/privacy/facebook" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="Our Facebook app privacy policy.">
}


<div class="page-content">
    <h1>Facebook App Privacy Policy</h1><hr />
    <p>Revised: June 15th, 2018</p>

    <h2>What information do we collect?</h2>
    <p>
        This app allows you to login to your
        Facebook account and share
        our <a href="https://www.facebook.com/catholicintentions/">Facebook page</a> 
        on your Facebook feed. We do not collect
        any of this information that you use or
        have on your Facebook account or profile.
    </p>

    <h2>Our rights</h2>
    <p>
        We have the right to modify these privacy terms
        at any time. Any updates to these terms will be
        visible on this page.
    </p>

    <h2>Contact</h2>
    <p>
        If you would like to contact us, send an email to
        <a href="mailto:catholicintentions@gmail.com">catholicintentions@gmail.com</a>.
    </p>
</div>