@{
    ViewData["Title"] = "Privacy - Catholic Intentions";
}

@section head {
    <meta property="og:title" content="Privacy policy" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/privacy" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="Our privacy policy, what we do with the information you give us.">
}


<div class="page-content">
    <h1>Privacy policy</h1><hr />
    <p>Revised: June 17th, 2018</p>

    <h2>What information do we collect?</h2>
    <p>
        We collect information you provide to us
        in our prayer request submission form.
        Besides the information you provide, we
        do not collect any personally identifiable information.
    </p>

    <h2>How do we use the information we collect?</h2>
    <p>
        If your information you collect does not
        meet our <a>terms of use</a>, we may either
        edit the information you provide to us, or
        delete it if it does not comply with our <a>terms of use</a>.
        If your information is not deleted, it will
        be shown on our website and shared on our
        Facebook page (<a href="https://www.facebook.com/catholicintentions/">https://www.facebook.com/catholicintentions/</a>).
    </p>

    <h2>How do we protect the information we collect?</h2>
    <p>
        We use industry standard protections on our
        site and the services that make the site
        function to protect the information you provide to us.
    </p>

    <h2>How can I delete my prayer request that I submitted?</h2>
    <p>
        The nature of sending your anonymous prayer
        intentions makes it challenging to allow
        users to delete their individual prayer
        request intentions they provide to us. We
        currently do not have the ability to delete
        an individual's prayer request intention,
        but we are working on a system that will
        allow you to delete your individual prayer
        request in the future.
    </p>

    <h2>Third Parties</h2>
    <p>
        We do not sell any information you provide
        to us to any third party.
    </p>

    <h2>Our cookie policy</h2>
    <p>
        We use Google Analytics and Google Adwords in
        combination to collect anonymous, non-personally
        identifiable information to understand the users
        who use our site, and to serve remarketing ads
        to those who might be interested in using our site.
        Google Analytics and Google Adwords make use of
        cookies to work properly, and by using this site
        you consent to these services to use cookies to
        collect anonymous, non-personally identifiable
        information about your visit. If you wish to learn
        more about how Google uses cookie data, or how to
        opt-out of Google services collecting anonymous,
        non-personally identifiable data through Google
        Analytics or Google Adwords, please find more
        information here: <a href="https://policies.google.com/privacy/partners" target="_blank" rel="noopener">https://policies.google.com/privacy/partners</a>.
    </p>

    <h2>Children's Online Privacy Protection Act</h2>
    <p>
        Our website is for people over the age of 18, 
        or the legal age in your residence, county or state,
        whichever is older. If you are younger than the
        abovementioned age, do not use our website.
    </p>

    <h2>Our rights</h2>
    <p>
        We have the right to modify these privacy terms
        at any time. Any updates to these terms will be
        visible on this page.
    </p>

    <h2>Contact</h2>
    <p>
        If you would like to contact us, send an email to
        <a href="mailto:catholicintentions@gmail.com">catholicintentions@gmail.com</a>.
    </p>
</div>