@{
    ViewData["Title"] = "Review - Catholic Intentions";
}

@section head {
    <meta name="robots" content="noindex" />
}

<div id="react-app" class="height-container"></div>

@section scripts {
    @Html.Partial("ReactPage")
}