@{
    ViewData["Title"] = "Terms of use - Catholic Intentions";
}

@section head {
    <meta property="og:title" content="Terms of use" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/terms" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="Our terms and use, our conditions while using the site.">
}


<div class="page-content">
    <h1>Terms of use</h1><hr />
    <p>Revised: June 15th, 2018</p>
    <p>
        In our following terms of use, the terms "our", "we" and "us" refers to Catholic Intentions,
        our website and all of the information and services available to you.
    </p>

    <h2>General conditions</h2>
    <p>
        By using this site, you agree to be bound by the terms of use for our site and
        services contained therein. If you do not agree to all of our terms
        and use, you may not use this website or any of the services we provide.
    </p>

    <h2>Your terms</h2>
    <p>
        You must be at or over the age of 18 years old or the legal age in your residence, county or state, 
        whichever is older, to use our site. You agree to not solicit or advertise
        your goods or services on our site. You agree not to post deragatory, obscene, hateful, pornographic, defamatory,
        spam (continous repetitive text) material, encouraging or promoting illegal activity or wishing any form of harm on others when
        posting your prayer request intentions or through any other means on our site. You agree and give us
        permission to modify your prayer request to anonymize your submission to protect your identity.
        You agree and give us permission to modify your prayer request to remove the prohibited content, as listed above, from
        your prayer request. You agree to give us permission to make minor grammatical fixes and alterations to your
        prayer request so it is in a readable form on our site. You agree that your prayer request might be deleted if it does not adhere to the
        conditions listed above and included in these terms of use. You agree and give us permission to use your
        prayer request, either the original or modified by us, on our Facebook page (<a href="https://www.facebook.com/catholicintentions/">https://www.facebook.com/catholicintentions/</a>). 
        You agree not to circumvent, disable, or otherwise get around the security features on our site.
        You agree to not interact with the site through any automated means, which include using
        scripts, bots, or other technologies or processes. You agree to not use any of the
        information on our site to defame, harass, annoy, impersonate or harm anyone or any group of people. You
        agree to not use any of the content on the site and declare it as your own for commercial
        or non-commercial uses. You agree to not decompile, decipher, disassemble or reverse engineer
        any part of our site or services. You agree to not delete the copyright or other proprietary rights
        from any content on our site. You agree to not copy or create derivative works of our website in
        any other form, this includes PHP, Javascript, Flash or other code. You agree not to sell or resell any
        portion of our site or services contained therein to any persons or third party. You agree to not attempt or
        successfully insert trojan horses, viruses, or other malicious code on our site. You agree to
        not in any form attempt to disrupt the services we offer on our site. You agree to not disparge,
        tarnish or otherwise harm, in our opinion, us and our site and services. You agree not to use our site
        for any unlawful purpose. You agree to use our site consistent with any applicable laws and regulations that apply to you.
        You agree to indemnify, defend and hold harmless
        Catholic Intentions and all of its administrators and related persons harmless from any claim or demand, including
        reasonable attorneys' fees, made by any third-party due to or arising out of your breach of these terms of use
        or your violation of any law or the rights of a third-party. You agree that the contents of your prayer
        requests will not violate any right of any third-party, including copyright, trademark, privacy, personality
        or other personal or proprietary right. You agree to comply with any international, federal, provincial or
        state regulations, rules, laws, or local ordinances while using our site. You agree that Catholic Intentions
        and all of its administrators and related persons are not liable for any loss, injury, claim or any
        type of damages that may happen when using our site, interacting
        with us, or using our services contained within our website. You agree that any breach in our terms of use
        will terminate your ability, temporarily or permanently, to use our site. You agree that our site, services
        contained within, and third parties we may link or provide services to are provided on a "as-is" basis with
        no implied warranty. You agree to all of the conditions
        within our privacy policy (<a href="https://www.catholicintentions.com/privacy-policy">https://www.catholicintentions.com/privacy-policy</a>).
    </p>

    <h2>Our rights</h2>
    <p>
        We reserve the right to deny our site and services contained within to anyone, at any time.
        We reserve the right to modify your prayer request by either editing its content or removing pieces
        of it by our discretion that violate our terms of use. We reserve the right to update our site
        at any time. We reserve the right for services and/or functionality on our site to be functioning
        as they intend, but cannot guarantee 100% uptime. We reserve the rights to not be obligated to
        fix any content that may be incorrect on our site. We have the right to modify our terms of use
        at any time. We reserve the right to not be liable for any harm or damages done for actions taken
        with third party websites we have linked to on our site or are affiliated with our site. We reserve
        the right that we are not to be held liable for any sort of damages or harm that any individual 
        interacting with this site, directly or indirectly, may cause to other individuals or themselves.
        We reserve the right that the claims and comments on our site do not endorse the thoughts of opinions of us. We reserve
        the right to update our terms of use at any time, and you are bound to these updates as soon as the
        updates to our terms of use happen. We reserve the right to exercise or enforce any provision in
        these terms of use - the failure to do so does not constitute a waiver of such right or provision.
    </p>

    <h2>Our agreement</h2>
    <p>
        These terms of use and any separate agreements whereby we provide you services shall be governed by
        and construed in accordance with the laws of the state of Wisconsin USA. These terms of use outlined
        above are effective until terminated by you or us. If any piece of this terms of use is deemed unlawful
        or unenforceable, such piece will be removed from the terms of use. Any updates to our terms of
        use will be found on this page. Any questions regarding our terms of use can be sent to <a href="mailto:catholicintentions@gmail.com">catholicintentions@gmail.com</a>.
    </p>
</div>