@{
    ViewData["Title"] = "Catholic Intentions - Home";
}

@section head {
    <meta property="og:title" content="Catholic Intentions" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="Join us in prayer. Offer your prayer requests, and pray for others.">
}

<div class="page-content">
    <h1>Catholic Intentions</h1><hr />
    <h2>Send us your prayer request, and pray</h2>
    <p>
        Prayer is powerful, and it is one of the means
        that God gives to us in order to communicate with
        Him. Nothing is impossible through prayer to
        God; in fact, God wants us to come to Him in
        prayer. Prayers bring healing, and we hope to bring healing
        and answers to you by praying for your prayer request.
    </p>
    <p>
        <button class="ci-button">
            <a href="/submit-prayer-request">Send your prayer request</a>
        </button>
    </p>
    <p>
        If you want to help pray for those who are praying for
        you, please pray for their prayer requests too.<br>

        <button class="ci-button">
            <a href="/prayer-requests">Pray for others</a>
        </button>
    </p>
</div>