@{
    ViewData["Title"] = "About - Catholic Intentions";
}

@section head {
    <meta property="og:title" content="About Page" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/about" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="We pray because it brings hope and healing to others, even though it can be hard to pray sometimes.">
}

<div class="page-content">
    <h1>About</h1><hr />
    <h2>Our mission statement</h2>
    <p>
        When we come together and pray, God hears
        all of our voices and the intentions we
        lift up to Him. Prayer brings healing, and
        hope, and when we come together to pray,
        the healing and hope we receive is magnified.
        Come join us and pray.
    </p>

    <h2>What is prayer, and why do we do it?</h2>
    <p>
        Prayer is dialogue - it is asking for help,
        hope, healing, answers. Prayer is the beginning
        of a relationship with God where we grow in
        hope and faith that He hears us and will
        provide for us. It does not matter where we
        are at; whether we believe, are active in faith,
        or have fallen away, God meets us wherever we are at.
    </p>
    <p>
        God wants us to rely on Him, and the more we
        pray, the easier it is to do that. Praying
        strengthens our hope in God, and the more we
        pray, the more we begin to see hope in whatever
        storm of life we are all weathering. God gives
        us hope, through our prayer, that can take us
        through anything we ever thought was not possible alone.
    </p>
    <p>
        It is important to understand that what we pray
        for might not be answered in the way we hope,
        and this should not be where we give up hope.
        God is above us, and His ways are above us -
        know that His answers to our prayers are for
        our own good. If you are struggling to see why
        your prayers have not been answered or in a way
        you didn't expect, I challenge you to pray;
        "God, help me understand why you are doing this."
        Give God an inch and watch how far He takes you.
    </p>
    <p>
        Catholic Intentions - Copyright @(DateTime.Now.Year)
    </p>
</div>