@{
    ViewData["Title"] = "Error - Catholic Intentions";
}

@section head {
    <meta name="robots" content="noindex" />
}

<div>
    <h1>Page not found</h1><hr />
    <p>
        Could not find the given page.
        Here are some common pages you
        may have been looking for.<br>

        <button class="ci-button">
            <a href="/submit-prayer-request">Submit a prayer request</a>
        </button>
    </p>
    <p>
        <button class="ci-button">
            <a href="/prayer-requests">Pray for others</a>
        </button>
    </p>
</div>