@{
    ViewData["Title"] = "Prayer requests - Catholic Intentions";
}

@section head {
    <meta property="og:title" content="Prayer Intentions Page" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/prayers" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="Pray for yourself and others. Bring healing that prayer gives to others.">
}

<div>
    <h1>Recent prayer requests</h1><hr />    
    <div id="react-app" class="page-content"></div>
</div>

@section scripts {
    @Html.Partial("ReactPage")
}