@{
    ViewData["Title"] = "Glory Be Prayer - Catholic Intentions";
}

@section head {
    <meta property="og:title" content="Glory Be Prayer" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/catholic/prayers/glory-be" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="The Glory Be prayer.">
}

<div class="page-content">
    <h1>Glory Be prayer</h1><hr />

    <p>
        Glory be to the Father and to the Son
        and to the Holy Spirit. As it was in the
        beginning, is now, and forever shall be,
        world without end.
    </p>
    <p>Amen.</p>

    <p>
        <button class="ci-button">
            <a href="/catholic/prayers">Back</a>
        </button>
    </p>
</div>