@{
    ViewData["Title"] = "Hail Mary Prayer - Catholic Intentions";
}

@section head {
    <meta property="og:title" content="Hail Mary Prayer" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/catholic/prayers/hail-mary" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="The Hail Mary prayer.">
}

<div class="page-content">
    <h1>Hail Mary prayer</h1><hr />

    <p>
        Hail Mary, full of grace, the Lord
        is with thee. Blessed are you among women,
        and blest is the fruit of thy womb Jesus.
        Holy Mary, mother of God, pray for us sinners,
        now and at the hour of our death.
    </p>
    <p>Amen.</p>

    <p>
        <button class="ci-button">
            <a href="/catholic/prayers">Back</a>
        </button>
    </p>
</div>