@{
    ViewData["Title"] = "Catholic Intentions - Catholicism";
}

@section head {
    <meta property="og:title" content="Catholicism" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/catholic" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="The Catholic church and its beliefs.">
}

    <div class="page-content">
        <h1>Catholicism</h1><hr />
        <h2>The Roman Catholic Church</h2>
        <p>
            Formed by Jesus Christ, the Roman Catholic Church (or Catholic
            Church) is an institution steeped in tradition and authority. This
            authority has helped lead many to find and see God in their lives
            and in the world. The Catholic Church gives us many tools that we
            are encouraged to use to lead us closer to God in our day-to-day
            lives. These tools are the Sacraments, Scripture, Church authority,
            the lives of the saints, and prayers. Read more about these on our
            other pages.
        </p>
        @*<p>
            <button class="ci-button">
                <a href="/catholic/sacraments">Sacraments</a>
            </button>
        </p>
        <p>
            <button class="ci-button">
                <a href="/catholic/scripture">Scripture</a>
            </button>
        </p>
        <p>
            <button class="ci-button">
                <a href="/catholic/papal-authority">Papal authority</a>
            </button>
        </p>
        <p>
            <button class="ci-button">
                <a href="/catholic/saints">Saints</a>
            </button>
        </p>*@
        
        <p>
            <button class="ci-button">
                <a href="/catholic/prayers">Catholic prayers</a>
            </button>
        </p>
        <p>
            Other pages coming soon!
        </p>
    </div>