@{
    ViewData["Title"] = "Our Father Prayer - Catholic Intentions";
}

@section head {
    <meta property="og:title" content="Our Father Prayer" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/catholic/prayers/our-father" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="The Our Father prayer.">
}

<div class="page-content">
    <h1>Our Father prayer</h1><hr />

    <p>
        Our Father, who art in Heaven, hallowed be
        thy name. Thy kingdom come, thy will be done,
        on Earth as it is in Heaven. Give us this day
        our daily bread; and forgive us our trespasses,
        as we forgive those who trespass against us.
        And lead us not into temptation, but deliver us from
        evil.
    </p>
    <p>Amen.</p>

    <p>
        <button class="ci-button">
            <a href="/catholic/prayers">Back</a>
        </button>
    </p>
</div>