@{
    ViewData["Title"] = "Catholic Prayers - Catholic Intentions";
}

@section head {
    <meta property="og:title" content="Catholic Intentions" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/catholic/prayers" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="The essential Catholic Prayers.">
}

<div class="page-content">
    <h1>Catholic Prayers</h1><hr />

    <p>
        The Catholic church has a myriad of prayers
        whose purpose is to help align and focus
        our attention towards God and towards our
        personal holiness.
    </p>

    <h2>Essential Catholic prayers</h2>
    <p>
        <button class="ci-button">
            <a href="/catholic/prayers/hail-mary">Hail Mary</a>
        </button>
    </p>
    <p>
        <button class="ci-button">
            <a href="/catholic/prayers/our-father">Our Father</a>
        </button>
    </p>
    <p>
        <button class="ci-button">
            <a href="/catholic/prayers/glory-be">Glory Be</a>
        </button>
    </p>
</div>