
@{
    ViewData["Title"] = "Sitemap - Catholic Intentions";
}

@section head {
    <meta property="og:title" content="Catholic Intentions Sitemap" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.catholicintentions.com/sitemap" />
    <meta property="og:image" content="https://www.catholicintentions.com/favicon.ico" />
    <meta name="description" content="The sitemap of Catholic Intentions">
}

<div class="page-content">
    <h1>Sitemap</h1><hr />
    <div>
        <p><a href="/">Home</a></p>
        <p><a href="/prayer-requests">Prayer requests</a></p>
        <p><a href="/submit-prayer-request">Submit prayer request</a></p>
        <p><a href="/catholic">Catholicism</a></p>
        <p><a href="/catholic/prayers">Catholic prayers</a></p>
        <p><a href="/catholic/prayers/hail-mary">Hail Mary prayer</a></p>
        <p><a href="/catholic/prayers/our-father">Our Father prayer</a></p>
        <p><a href="/catholic/prayers/glory-be">Glory Be prayer</a></p>
        <p><a href="/about-us">About us</a></p>
        <p><a href="/privacy-policy">Privacy policy</a></p>
        <p><a href="/terms-of-use">Terms of use</a></p>
    </div>    
</div>