@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Unavailable - Catholic Intentions</title>
    <link rel="manifest" href="~/manifest.json">
</head>
<body>
    <h1>Unavailable</h1>
    <hr />
    <p>
        We are sorry, but because of the GDPR
        (General Data Protection Regulation) that is
        going into effect on May 25th, 2018 - we
        are blocking your access to this site
        until we have put in place the necessary
        protections and standards set by the
        GDPR. We are hard at work making the
        necessary updates - once we have them
        in place, the website will be available
        by you. God bless!
    </p>
</body>
</html>

